.roadmap-bg-image {
  background: black;
  background-image: url('../../../src/assets/8.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-top: 1px solid rgb(253, 117, 208);
  @media (min-width: 768px) {
    background-size: 100% 768px;
  }
  @media (min-width: 1024px) {
    background-size: 100% 1024px;
  }
  @media (min-width: 1280px) {
    background-size: 100% 1280px;
  }
  @media (min-width: 1536px) {
    background-size: 100% 1536px;
  }
}

.icon-green {
  color: green;
}

.icon-red {
  color: red;
}

.icon-orange {
  color: #ffa500;
}
